<div class="well">
  <div class="panel panel-default">
    <div class="panel-heading"><span>Author #</span><span data-bind="text: id"></span></div>
    <div class="panel-body">
          <div class="form-horizontal">
            <div class="input-group">
              <span class="input-group-addon" style="width: 8em;">Name</span>
              <input type="text" class="form-control" placeholder="How (s)he is called" data-bind="value: name, attr: { readonly: cantWrite }">
            </div>
          </div>
      <div class="row">
          <!-- ko foreach: models -->
          <div style="vertical-align:top;display:inline-block" data-bind="component: { name: 'model-short', params: $data }"></div>
          <!-- /ko -->
      </div>
    </div>
    <div class="panel-footer">
      <span></span>
    </div>
  </div>
</div>
