<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked" data-bind="css: {loading: modelGroupsLoading}">
      <!-- ko foreach: modelgroups -->
      <li role="presentation" data-bind="css: { active: $parent.isSelected($data) }"><a href="#" data-bind="text: name, click: $parent.select"></a></li>
      <!-- /ko -->
    </ul>
  </div>
  <div class="col-md-10">
    <div class="panel panel-default" data-bind="css: {loading: modelsLoading}">
      <div class="panel-heading">
        <span>Models</span>
        <span class="btn pull-right fa fa-sync" data-bind="click: reload" title="Refresh"></span>
      </div>
  
      <div class="panel-body" data-bind="foreach: models">
        <div style="vertical-align:top;display:inline-block" data-bind="component: { name: 'model-short', params: $data }"></div>
      </div>
  </div>
  </div>
</div>

